body {
    font-family: 'Gelasio', serif;
    font-family: 'Ibarra Real Nova', serif;
}

.menu-container {
    display:flex;
    justify-content:center;
}

.name {
    text-align: center;
    margin: 0;
}

.tagline {
  display:flex;
  justify-content:center;
  padding-right: 35px;
}

.nav-bar {
    margin:10px;
    padding:10px;
    padding-right: 35px;
}

h2 {
    padding-left: 45px;
    padding-right: 35px
}

p {
    padding-left: 45px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 60vw;
    margin: 0
}

.quote {
    padding-left: 45px;
    width: 60vw;
}

body {background-color: #F5E1FD;}

.nav-bar { color: #000000; text-decoration: none;}
a:visited { color: #000000; text-decoration: none;}
a:hover { color: #3366CC; text-decoration: underline;}
a:active { color: #000000; text-decoration: none;}
a { color: #7C3F7C}

